  <nav class="navbar navbar-custom navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand jw" href="/">Jake White</a>
        <button
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../images/resume.pdf" target="_blank">Resume</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/Writings">Writings</a>
              </li> --}}
              <li class="nav-item">
                <a class="nav-link active" href="/about">About Me</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row justify-content-center" id="about-content" data-aos="fade-up" data-aos-duration="600">
        <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <h2>This is Jake White</h2>
              <h6>Designer ·  Developer ·  Tech Enthusiast</h6>
              <br>
             
             <div class="d-lg-none" style="padding:0px;">
                    <img class="img-fluid" src="../images/me.png" alt="Jake's Photo">
                    <br><br>
              </div>
              <div class="subgroups">
                <h5 class="about-h5">Designer</h5>
                <p class="small-margin-bottom">As a designer, I am naturally collaborative. <mark>With my experience in Computer Science, Film, and Writing,</mark> I am able to communicate with Developers and consider their demands while making design decisions. My background as a <mark>Data Analyst and experience with Screenwriting</mark> enables me to express my ideas to a variety of audiences, including my teammates, users, clients, and stakeholders, in a clear and concise manner. <br><br>

                <mark>Product Design and Problem Solving are two aspects I prioritize.</mark> I enjoy the process of extracting user needs from research, using technology creatively and logistically to meet those needs, and thinking critically about limits to ensure that the solution scales.

                </p>
              </div>
              <br> 
             
              <div class="subgroups">
                <h5 class="about-h5">Developer</h5>
                <p class="small-margin-bottom">I am a critical thinker and detail-oriented developer. <mark>I think deeply about problems, and ways to implement solutions.</mark><br><br>


                I also reflect a lot on who I am as a developer, and on the process itself. I know that the real process is always messy and unpredictable. I believe that a successful developer should approach any challenge with a developer's mindset, which includes <mark>experimenting with different approaches and constantly reflecting on past experiences to seek improvement.</mark>
                </p>
              </div>
              <br>

              <div class="subgroups">

                <h5 class="about-h5">Tech Enthusiast</h5>
                <p>I am excited by the latest technologies because of the possibilities they provide. Aside from developing and designing app and website experiences, I'm also interested in Augmented Reality. <mark>These capabilities and constraints force me to consider how to use each platform's strengths while compensating for its limitations through design and development.</mark><br><br>

                Technology is always changing. <mark>I am excited to learn about new technologies, become a pioneer, and as a technology enthusiast, explore new design possibilities.</mark></p>
              </div>
            </div>

            <div class="col-side col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <img class="img-fluid d-none d-lg-block" src="../images/me.png" alt="Jake's Photo">
              <br><br><br>
              <div class="content-box-side">
                <h5 class="about-subtitle">Contact</h5>
                <a href="mailto:jacobyjwhite@gmail.com"><p>jacobyjwhite@gmail.com</p></a>
              </div>
              <br><br>
              <div class="content-box-side">
                <h5 class="about-subtitle">Resume</h5>
                <a href="https://www.linkedin.com/in/jakewhite7/" target="_blank"><p>LinkedIn</p></a>
                <a href="../images/resume.pdf" target="_blank"><p>Letter PDF</p></a>
                <!-- <a href="#"><p>A4 PDF</p></a> -->
              </div>
              <br><br>
              <div class="content-box-side">
                <h5 class="about-subtitle">Interests</h5>
                <p>Film & Animation</p>
                <p>Creative Writing</p>
                <p>Photography</p>
                <p>Traveling</p>
                <p>Hockey</p>
                <p>Cinematic Music</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
<br><br><br><br>
