
  <nav class="navbar navbar-custom navbar-expand-lg fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand jw" href="/">Jake White</a>
        <button 
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../images/resume.pdf" target="_blank">Resume</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/Writings">Writings</a>
              </li> --}}
              <li class="nav-item">
                <a class="nav-link" href="/about">About Me</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

<main class="content-3">
        <!-- section home -->
        <section id="home" class="home d-flex align-items-center">        
            <div class="container">     
                <!-- intro -->
                <div class="intro">               
                    <img style="height:500px" src="images/hey.png" alt="Jake White" class="mb-4" data-aos="fade-up" data-aos-duration="1200"/>
                </div>         
                <br><br>
                {{!-- container --}}
                <div class="container">
                    <div class="row">
                      <div class="des"  data-aos="fade-up" data-aos-duration="1200">              
                          J for <span class="half_background">Jake</span> 
                      </div>
                    </div>
                  <div class="row">
                    <div class="des" data-aos="fade-up" data-aos-duration="1200">
                        Your Innovative <span class="half_background">Designer</span> & <span class="half_background">Developer</span>.
                    </div>
                  </div>
                </div>     
                <br><br>
              <div class="arrow bounce">
                <a class="fa fa-arrow-down fa-2x" id="aro" style="text-decoration: none;" href="#projects"></a>
              </div>
            </div>
        </section>
        
        
      {{!-- container --}}
    <div class="container">
        <div class="projects" data-aos="fade-up" data-aos-duration="300" id="projects">
                <h1>PROJECTS</h1>
            </div>
        <div class="row page-content">
            <div class="col-lg card" data-aos="fade-up" data-aos-duration="400">
                <div class="content">
                <h2 class="title">Jeff's Junk</h2>
                <h6 style="color: rgb(207, 207, 207)">UI Design</h6>
                <p class="copy">Be junk free by renting a bin or a junk removal in 3 easy steps.</p>
                <button class="btn" onclick=" window.open('/junk','_blank')">View Case Study</button>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-lg card"  data-aos="fade-up" data-aos-duration="600">
                <div class="content">
                <h2 class="title">Shibu Casino</h2>
                <h6 style="color: rgb(207, 207, 207)">UX/UI Design, Motion Design, UX Research</h6>
                <p class="copy">A place to buy, sell, and spend your crypto currency.</p>
                <button class="btn" onclick=" window.open('/shibu','_blank')">View Case Study</button>
                </div>
            </div>
        </div>
        
        <div class="row page-content">
            <div class="col-lg cardr"  data-aos="fade-up" data-aos-duration="600">
                <div class="content">
                <h2 class="title">Mood Tracker</h2>
                <h6 style="color: rgb(207, 207, 207)">UX/UI Design, Full-Stack Development</h6>
                <p class="copy">Track and manage your daily mental health through this mood tracker.</p>
                <button class="btn" onclick=" window.open('https://moodstracker.herokuapp.com/','_blank')">View WebApp</button>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-lg cardr"  data-aos="fade-up" data-aos-duration="400">
                <div class="content">
                <h2 class="title">Energy Dashboard</h2>
                <h6 style="color: rgb(207, 207, 207)">UX/UI Design, Full-Stack Development</h6>
                <p class="copy">A dashboard that displays a townships energy consumption. </p>
                <button class="btn" onclick=" window.open('https://icecapenergy.herokuapp.com/','_blank')">View WebApp</button>
                </div>
            </div>
         </div>
    </div>


</main>
