
  <nav class="navbar navbar-custom navbar-expand-lg fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand jw" href="/">Jake White</a>
        <button 
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../images/resume.pdf" target="_blank">Resume</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/Writings">Writings</a>
              </li> --}}
              <li class="nav-item">
                <a class="nav-link" href="/about">About Me</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

<main class="content-3">
        <!-- section home -->
        <section id="home" class="home d-flex align-items-center">        
            <div class="container">     
                <!-- intro -->
                <div class="intro">               
                    <img style="height:500px" src="images/hey.png" alt="Jake White" class="mb-4" data-aos="fade-up" data-aos-duration="1000"/>
                </div>         
                <br><br>
                {{!-- container --}}
                <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400"> 
                    <div class="row">
                      <div class="des">              
                          J for <span class="half_background">Jake</span> 
                      </div>
                    </div>
                  <div class="row">
                    <div class="des">
                        Your Innovative <span class="half_background">Designer</span> & <span class="half_background">Developer</span>.
                    </div>
                  </div>
                </div>     
                <br><br>
              <div class="arrow bounce">
                <a class="fa fa-arrow-down fa-2x" id="aro" style="text-decoration: none;" href="#projects" ></a>
              </div>
            </div>
        </section>
        </main>
        
      {{!-- container --}}
      <ul class="thumbnail-grid">


        <a href="/junk">
          <li data-aos="fade-up" data-aos-duration="600" class="thumbnail-grid-item">
            <div class="card" style="background-image: url(../images/jj.jpg); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">
                  Jeff's Junk
                </h4>
                <h5 class="card-subtitle">
                  UX/UI Design, UX Research
                </h5>
                <br>
                <p class="card-content">
                  Unclutter your Life and Be Junk Free
                </p>
              </div>
            </div>
          </li>
        </a>

        <a href="/shibu">
          <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" class="thumbnail-grid-item">
            <div class="card"  style="background-image: url(../images/14.jpg); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">
                  Shibu Casino
                </h4>
                <h5 class="card-subtitle">
                  UX/UI Design, Motion Design, UX Research
                </h5>
                <br>
                <p class="card-content">
                  Cryptocurrency Casino to Deposit, Wager, and Withdraw your Winnings
                </p>
              </div>
            </div>
          </li>
        </a>

        <a href="https://icecapenergy.herokuapp.com" target="_blank">
          <li data-aos="fade-up" data-aos-duration="600" data-aos-offset="-50" class="thumbnail-grid-item">
            <div class="card" style="background-image: url(../images/2.jpg); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">
                  ICECAP Energy Dashboard
                </h4>
                <h5 class="card-subtitle">
                  UX Design, Full Stack Development
                </h5>
                <br>
                <p class="card-content">
                   An Energy Management Dashboard Making the World A Better Place
                </p>
              </div>
            </div>
          </li>
        </a>

        <a href="https://moodstracker.herokuapp.com" target="_blank">
          <li data-aos="fade-up" data-aos-duration="600" data-aos-offset="-50" data-aos-delay="200" class="thumbnail-grid-item">
            <div class="card" style="background-image: url(../images/moodit.jpg); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">
                  MoodIt
                </h4>
                <h5 class="card-subtitle">
                  UX Design, Full Stack Development
                </h5>
                <br>
                <p class="card-content">
                  A Mood Tracker Creating A Better You and Breaking Bad Habbits
                </p>
              </div>
            </div>
          </li>
        </a>



        {{!-- <a href="">
          <li data-aos="fade-up" data-aos-duration="600" data-aos-offset="-50" class="thumbnail-grid-item">
            <div class="card"  style="background-image: url(../assets/portfolio-CookFresh-thumbnail.png); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">

                </h4>
                <h5 class="card-subtitle">

                </h5>
                <p class="card-content">

                </p>
              </div>
            </div>
          </li>
        </a>

        <a href="">
          <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" data-aos-offset="-50" class="thumbnail-grid-item">
            <div class="card"  style="background-image: url(../assets/portfolio-up-thumbnail.png); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">
                  
                </h4>
                <h5 class="card-subtitle">
                 
                </h5>
                <p class="card-content">
                 
                </p>
              </div>
            </div>
          </li>
        </a>

        <a href="">
          <li data-aos="fade-up" data-aos-duration="600" data-aos-offset="-50" class="thumbnail-grid-item">
            <div class="card"  style="background-image: url(../assets/portfolio-REI-thumbnail.png); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">
              
                </h4>
                <h5 class="card-subtitle">
               
                </h5>
                <p class="card-content">
                
                </p>
              </div>
            </div>
          </li>
        </a>

        <a href="" >
          <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" data-aos-offset="-50"  class="thumbnail-grid-item">
            <div class="card"  style="background-image: url(../assets/portfolio-thriller-thumbnail.png); background-size: contain; background-repeat: no-repeat;">
              <div class="card-pants">
                <h4 class="card-title">
                  
                </h4>
                <h5 class="card-subtitle">
                  
                </h5>
                <p class="card-content">
                  
                </p>
              </div>
            </div>
          </li>
        </a> --}}
      </ul>



