


<main class="content-3">

        <!-- section home -->
        <section id="home" class="home d-flex align-items-center">
            
            <div class="container">
 
            
                <!-- intro -->
		
                <div class="intro">
                    <!-- avatar image -->
		    <br><br><br><br><br><br><br><br><br>
                    <img style="height:500px" src="images/hey.png" alt="Avishkar Patil" class="mb-4" data-aos="fade-up" data-aos-duration="1200" />

                    <!-- info -->
                    
                    {{!-- <span id="words" data-aos="fade-up" data-aos-duration="1200">User Experience Designer</span> --}}

                    <!-- social icons -->
                    {{!-- <ul class="social-icons light list-inline mb-0 mt-4">
			        <li class="list-inline-item"><a target="_blank" href="mailto:jakewhite97@hotmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
			        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/jakewhite7"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
			        <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/jakewhite97"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    </ul> --}}
                </div>                 
                
                <div class="container">
                    <div class="row">
                <div class="des"  data-aos="fade-up" data-aos-duration="1200">
                    J for <span class="half_background">Jacoby</span> 
                </div></div>
                <div class="row">
                <div class="des" data-aos="fade-up" data-aos-duration="1200">
                    Your Innovative <span class="half_background">Designer</span> & <span class="half_background">Developer</span>.
                </div></div>
           </div>     
    <br><br><br><br><br><br><br><br><br>
        </section>
        <div class="arrow bounce">
             <a class="fa fa-arrow-down fa-2x" id="aro" style="text-decoration: none;" href="#projects"></a>
        </div>
        

    {{!-- <div class="aboutme" id="aboutme">
        <h1>ABOUT ME</h1>
        <div class="container">
        <div class="row">
            <div class="col">
                <h2>Who am I?</h2>
                <p>Currently, I am finishing my studies at Georgian College for Web Development Interactive Media Design. I graduated from Brock University with a Degree in Film/Animation and Photographic Arts and hold a Graduate Certificate from Fanshawe College in Advanced Filmmaking.
                <br>
                <br>
                I saw an opportunity to combine my two passions of film and computers together, with my knowledge of design from studying film. I can bring my creative skills to logical thinking, and develop better end-to-end journeys for user interaction with a product.</p>
                </div>
                <div class="col">
                    <h3>My Skills</h3>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" alt="HTML" width="100" height="100">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="CSS" width="80" height="100">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Javascript-shield.svg" alt="JS" width="100" height="100">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="NodeJS" width="100" height="50">
                    
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg" alt="Figma" width="100" height="100">
                    <img src="https://seeklogo.com/images/A/adobe-photoshop-logo-7B88D7B5AA-seeklogo.com.png" alt="Adobe Photoshop" width="100" height="100">
                    <img src="https://seeklogo.com/images/A/adobe-illustrator-logo-775FAF240B-seeklogo.com.png" alt="Adobe Illustrator" width="100" height="100">
                    <img src="https://seeklogo.com/images/A/adobe-xd-logo-39468DE5D4-seeklogo.com.png" alt="Adobe Illustrator" width="100" height="100">
            </div>
        </div>
    </div>		
</div> --}}




<br><br><br><br>
    <div class="projects" data-aos="fade-up" data-aos-duration="1200" id="projects">
        <h1>PROJECTS</h1>
    </div>

    <div class="container">
        
        <div class="row page-content">
            <div class="col-lg card" data-aos="fade-up" data-aos-duration="2000">
                <div class="content">
                <h2 class="title">Jeff's Junk</h2>
                <p class="copy">Be junk free by renting a bin or set up a junk removal in 3 easy steps.</p>
                <button class="btn">Coming Soon</button>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-lg card"  data-aos="fade-up" data-aos-duration="1200">
                <div class="content">
                <h2 class="title">Shibu Casino</h2>
                <p class="copy">A place to buy, sell, and spend your crypto currency.</p>
                <button class="btn" onclick=" window.open('https://uxfol.io/p/cb37500f/0315650c','_blank')">View Case Study</button>
                </div>
            </div>
        </div>
        
        <div class="row page-content">
            <div class="col-lg cardr"  data-aos="fade-up" data-aos-duration="2000">
                <div class="content">
                <h2 class="title">Mood Tracker</h2>
                <p class="copy">Track and manage your daily mental health through this mood tracker.</p>
                <button class="btn" onclick=" window.open('https://moodstracker.herokuapp.com/','_blank')">View WebApp</button>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-lg cardr"  data-aos="fade-up" data-aos-duration="1200">
                <div class="content">
                <h2 class="title">Energy Dashboard</h2>
                <p class="copy">A dashboard that displays a townships energy consumption. </p>
                <button class="btn">Coming Soon</button>
                </div>
            </div>
         </div>
    </div>




  <div class="container">
      <div class="row footer-row">
        <div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="footer-text">Designed and Handcoded by Jacoby White</p>
        </div>
        <div class="footer-icons col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>
            <a href="https://www.linkedin.com/in/jakewhite7/" target="_blank"><i class="fab fa-linkedin-in fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/jakewhite97" target="_blank"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="mailto:jakewhite97@hotmail.com" target="_blank"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
          </p>
          <br>
          <p class="footer-text-small">Jacoby White © 2022 All Rights Reserved</p>

        </div>
      </div>
    </div>


    {{!-- <div class="contactme" id="contactme">
        <h1><span style="color: black">GET IN</span> TOUCH</h1>
        <p>Lets talk about how I can help design new projects in an innovative way.</p>
        <p><span style="color: rgb(46, 196, 255)">E-mail:</span> jakewhite97@hotmail.com</p>
        <p><span style="color: black; font-size: 25px;">Connect with me:</span></p>
        <ul class="social-icons light list-inline mb-0 mt-4">
			        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/jakewhite7"><i class="fab fa-linkedin-in fa-3x" style="color:rgb(46, 196, 255)" aria-hidden="true"></i></a></li>
			        <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/jakewhite97"><i class="fab fa-instagram fa-3x" style="color:rgb(46, 196, 255)" aria-hidden="true"></i></a></li>
                    </ul>
    </div> --}}
  
</main>
