<nav class="navbar navbar-custom navbar-expand-lg fixed-top ">
   <div class="container-fluid">
      <a class="navbar-brand jw" href="/">Jake White</a>
      <button 
         class="navbar-toggler custom-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarNav"
         aria-controls="navbarNav"
         aria-expanded="false"
         aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
               <a class="nav-link active" href="/">Projects</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="../images/resume.pdf" target="_blank">Resume</a>
            </li>
            {{!-- 
            <li class="nav-item">
               <a class="nav-link" href="/Writings">Writings</a>
            </li>
            --}}
            <li class="nav-item">
               <a class="nav-link" href="/about">About Me</a>
            </li>
         </ul>
      </div>
   </div>
</nav>
<img class="img-fluid" src="../images/junk2.jpg" data-aos="fade-up" data-aos-duration="600" alt="Jake's Photo">
<hr>
<div class="container-fluid">
   <div class="row justify-content-center">
      <div class="col-lg-7 col-md-6 col-sm-10 col-xs-12">
         <section id="overview" class="group" data-aos="fade-up" data-aos-duration="600">
            <br><br><br><br><br><br>
            <h3>OVERVIEW</h3>
            <hr>
            <div class="subgroup">
               <h4>Problem</h4>
               <p>Homeowners find it difficult to explain what kind of junk they have over the phone. Even the most common household items like furniture and appliances can be confusing for some people due to the lack of information. Additionally, location based on pricing is a coherent problem. Pricing can differentiate based on location, which customers can't comprehend. <mark class="junk">This leads to a lot of confusion in pricing on both sides.</mark></p>
            </div>
         </section>
      </div>
   </div>
   <div></div>
   <br><br>
   <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-centered">
      <section class="group">
         <div class="row justify-content-center">
            <div  class="subgroup col-lg-8 col-md-8 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-duration="600">
               <h4 id="solution">Solution</h4>
               <p>I designed Jeff's Junk, <mark class="junk">a mobile app that empowers users by providing a personalized experience and allows them to choose what type of junk they have with their location based on pricing.</mark> It also enables users to quickly send messages, pictures, and videos to the staff at Jeff's Junk. Thus, further describing their items in detail.</p>
            </div>
            <div class="subgroup col-lg-4 col-md-4 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-duration="600">
               <h4>My Role</h4>
               <p>UX/UI Design, Research Lead</p>
               <h4>Timeline</h4>
               <p>Sept 2020 - Oct 2020
               <h4>Tools</h4>
               <p>Figma, Adobe Photoshop, Adobe Illustrator, Adobe Premiere Pro</p>
               <br>
               <br>
            </div>
         </div>
      </section>
   </div>
   <div class="col-lg-8 col-md-7 col-sm-10 col-xs-12 col-centered">
      <div class="subgroup">
         <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
               <img class="ui" src="../images/junkui/welcome.png" data-aos="fade-up" data-aos-duration="600" alt="Welcome UI">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-6">
               <h5 class="title-junk">
                  Login and Register
               </h5>
               <h6 class="subtitle-junk">
                  Intuitive and functional login or registration for everyone.
               </h6>
               <p class="content-junk">This simple login and register screen allows the user to save their information on the app. They can save their payment options, a house address, and their receipts from previous purchases, <mark class="junk">all to optimize ease of use.</mark> Additionally, users can login and register via Facebook and Google <mark class="junk">to maximize functionality.</mark></p>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
               <h5 class="title-junk">
                  Home Navigation
               </h5>
               <h6 class="subtitle-junk">
                  Concise and personalized home navigation.
               </h6>
               <p class="content-junk">The user is greeted with messages and <mark class="junk">non-intrusive notifications.</mark> These notifications act as reminders for the user for upcoming scheduled junk removals or bin rentals they have recently purchased.</p>
            </div>
            <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
               <img class="ui" src="../images/junkui/Home.png" data-aos="fade-up" data-aos-duration="600" alt="Welcome UI">
            </div>
         </div>
         <br><br>
         <div class="row justify-content-center">
            <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
               <img class="ui" src="../images/junkui/BINS.png" data-aos="fade-up" data-aos-duration="600" alt="Welcome UI">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
               <h5 class="title-junk">
                  Efficient Bin Rentals
               </h5>
               <h6 class="subtitle-junk">
                  Instantly get options for a seamless experience.
               </h6>
               <p class="content-junk">Deciding the right bin size needs to be <mark class="junk">efficient and timely.</mark> To make sure the user is not overwhelmed with information, I created three distinctive options for a 4-yard, 14-yard, or 20-yard bin.</p>
            </div>
         </div>
      </div>


      <div class="subgroup">
      <div class="row justify-content-center">
         <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
            <h5 class="title-junk">
               Engaging Removal Service
            </h5>
            <h6 class="subtitle-junk">
               All the information you need to make an order decision, with a personalized touch.
            </h6>
            <p class="content-junk">Want a quick estimate for your junk removal? Don’t know which option meets your cleaning needs? Send us a picture. You’ll get a <mark class="junk">personalized and engaging</mark> experience with a team member that will let you know the price.</p>
         </div>
         <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <img class="ui" src="../images/junkui/junk.png" data-aos="fade-up" data-aos-duration="600" alt="Welcome UI">
         </div>
      </div>
      <br><br>
      <div class="row justify-content-center">
         <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <img class="ui" src="../images/junkui/junkinfo.png" data-aos="fade-up" data-aos-duration="600" alt="Welcome UI">
         </div>
         <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
            <h5 class="title-junk">
               Simplistic Categories
            </h5>
            <h6 class="subtitle-junk">
              Guidelines to maintain a sustainable environment.
            </h6>
            <p class="content-junk"> 
               This gives the user <mark class="junk">simple options that are categorized</mark> into four different possibilities. General garbage, Furniture, Construction, and Yard Waste. These are guidelines that the user can follow to allow Jeff's Junk to help maintain a sustainable environment.
            </p>
         </div>
      </div>

         <div class="subgroup">
         <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
               <h5 class="title-junk">
                  Clear Location Tool
               </h5>
               <h6 class="subtitle-junk">
                  Effortlessly enter your address information.
               </h6>
               <p class="content-junk">Users want a <mark class="junk">clear and effortless experience.</mark> With the integration of Google Maps, the user is able to input their address where they want their ordered service to be. The address will be saved so they do not have to re-enter every time, <mark class="junk">creating an adaptive experience.</mark></p>
            </div>
            <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
               <img class="ui" src="../images/junkui/map.png" data-aos="fade-up" data-aos-duration="600" alt="Welcome UI">
            </div>
         </div>
         <br><br>
         <div class="row justify-content-center">
            <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
               <img class="ui" src="../images/junkui/chat.png" data-aos="fade-up" data-aos-duration="600" alt="Welcome UI">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
               <h5 class="title-junk">
                  Humanizing Chat Experience
               </h5>
               <h6 class="subtitle-junk">
                  Connect with a real person for a transparent experience.
               </h6>
               <p class="content-junk">A human connection creates a feeling of trust between the consumer and supplier, something that most users want. This chat functionality brings a <mark class="junk">humanizing experience where conversations are transparent</mark> on everything such as pricing and time.</p>
            </div>
         </div>
         </div>


         {{!-- end of container --}}
      </div>
   </div>
</div>
<br><br><br>
<div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/xipvek?autoplay=1&nocontrols=1" frameborder="0" width="100%" height="100%" allowfullscreen allow="autoplay" style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
