   <nav class="navbar navbar-custom navbar-expand-lg fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand jw" href="/">Jake White</a>
        <button 
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../images/resume.pdf" target="_blank">Resume</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/Writings">Writings</a>
              </li> --}}
              <li class="nav-item">
                <a class="nav-link" href="/about">About Me</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    
  <div class="casino">
    <img class="img-fluid" src="../images/junk.jpg" >
  </div>