@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: "Rubik", sans-serif;
  width: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
}

.intro{
  padding-top: 150px !important;
}

/* about me page */
#about-content {
  padding-top: 170px;
}

.subgroups p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px !important;
  margin-bottom: 48px;

}



a:link{
  text-decoration: none!important;
}

.about-h5 {
  border: solid rgb(46, 196, 255);
  border-width: 0 0 0 6px;
  padding-left: 38px;
}

.content-box-side .about-subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  color: #4c525a;
}

.content-box-side p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.content-box-side {
  border: solid #000;
  border-width: 0 0 0 1px;
  margin-top:24px;
  margin-bottom: 24px;
  padding-left: 28px;
  padding-right: 20px;
}

/* highlights pages */
mark {
  background-color: rgba(255, 255, 255, 0.2) !important;
  --color1: rgb(46, 196, 255, 0.2);
  --color2: rgb(46, 196, 255, 0.2);
  --height: 100%;    
  all: unset;
  background-image: linear-gradient(var(--color1), var(--color2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--height);
  animation: highlight 900ms 1 ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused; 
}
@keyframes highlight {
  to {
    background-size: 100% var(--height);
  }
}


mark.junk {
  background-color: rgba(255, 255, 255, 0.2) !important;
  --color1: rgb(7, 224, 107, 0.2);
  --color2: rgba(7, 224, 107, 0.2);
  --height: 100%;    
  all: unset;
  background-image: linear-gradient(var(--color1), var(--color2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--height);
  animation: highlight 900ms 1 ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused; 
}
@keyframes highlight {
  to {
    background-size: 100% var(--height);
  }
}

/* end of highlights */


/* projects page */
.projects h1 {
  text-align: center;
  color: rgb(46, 196, 255);
  font-size: 60px;
  font-weight: 800;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contactme h1 {
  text-align: center;
  color: rgb(46, 196, 255);
  padding-top: 100px;
  font-size: 60px;
  margin-top: 300px;
  font-weight: 800;
  margin-bottom: 50px;
}
.contactme p {
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 35px;
}


.contactme ul {
  text-align: center;
}


/* footer */
.footer p a {
  color: black;
}

.footer p a:hover, .footer p a:focus {
  text-decoration: none;
}

.footer-row i {
  color: black;
}

.footer-row i:hover {
  color: black;
  opacity: 0.5;
}
.footer p {
  font-family: 'Rubik';
  font-weight: 100;
  color: var(--primary-black);
  text-align: center;
}

.footer-text {
  font-family: 'Rubik';
  font-weight: 100;
  color: black;
  text-align: center;
}

.footer-text-small {
  font-family: 'Rubik';
  font-weight: 100;
  color: var(--primary-black);
  text-align: center;
  font-size: 12px;
}

.footer-icons p {
  text-align: center;
}

.footer-icons i {
  padding: 12px 12px 0px 12px;
  color: black;
}




/* scroll down */
#aro {
  color: black;
}

.arrow {
  position: relative;
  text-align: center;
  bottom: 10px;
  
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* scroll down */



/* logos under name and text rotating */
.social-icons li:not(:last-child) {
  margin-right: 1.5rem;
}
.social-icons li a {
  font-size: 30px;
}
.social-icons.light li a:hover {
  color: rgb(29, 29, 29);
}

.animated-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-heading #words {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

.des{
  display: inline-block;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #555555;
}

.half_background {
  background: linear-gradient(to top, rgb(46, 196, 255) 50%, transparent 50%);
}


/* background for profile */
section.home {
  opacity: 1;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
section.home .intro {
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  z-index: 1;
}
section.home .intro h1 {
  color: black;
  font-size: 36px;
}
section.home .intro span {
  color: black;
  font-size: 16px;
}
section.home .social-icons li a {
  color: black;
}
section.home.light {
  background: black;
}

section.home .social-icons li a:hover {
  color: #3383f3;
}
/* name logo pp */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 0, 0);
} 

.custom-toggler.icon-bar {
  border-color: rgb(0, 0, 0);
  background-color: black;
} 


/* navbar */
.navbar-custom {
  font-family: 'Kanit', sans-serif;
  padding-left: 80px;
  padding-right: 80px;
  background-color: rgba(255,255,255,0) !important;
  padding-top: 20px !important;
  font-weight: 200 !important;
}

@media only screen and (max-device-width : 768px) {
  .navbar-custom {
    font-family: 'Kanit', sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgba(255,255,255,1) !important;
    padding-top: 20px !important;
    font-weight: 200 !important;
  }
  }

  @media only screen and (max-device-width : 768px) {
    .junke {
      padding-top: 80px;
    }
    }

.jw {
  font-family: 'Qwigley', sans-serif;
  font-size: 36px !important;   
  color: black !important;
}

.nav-link {
  font-size: 17px;
  color: rgb(77, 77, 77) !important;
  display: block;
  position: relative;
  padding: 15px !important;
  text-decoration: none;  
  left: 70px;
}

.navbar .active {
  font-weight: 500;
}


.nav-link:after {
  transition: all .5s;
}


.nav-link:after{
  content: ' ';
  width: 0%;
  position: absolute;
  /* this is what makes it come from the middle */
  margin: left;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  height: 1px;
}

.nav-link:hover:after {
  width: 100%;
}
/* end of navbar */



video {
  width: 100%;
  height: auto;
}
.casino {
  padding-top: 100px !important;
  text-align: center;
  background-size: cover;
  
}



 /* Portfolio Cards */
 .card {
  background: #FAFAFA;
  box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
  border-radius: 16px !important;
  width: 450px;
  height: 480px;
  margin: auto;
  position: relative;
  -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.card:hover {
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -12px) !important;
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.card-pants {
  text-align: left;
  position: absolute;
  top:67%;
  margin-left: 36px;
  margin-right: 36px;
}

.card-title {
  font-family: "Rubik" !important;
  font-size: 24px;
  color: #555555;
  margin-bottom: 8px;
}

.card-subtitle {
  font-family: "Rubik" !important;
  font-size: 14px;
  color: #aaaaaa;
  margin-bottom: 20px;
}

.card-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #555555;
  line-height: 22px;
}

.thumbnail-grid li {
  width: 450px;
  height: 500px;
  display: inline-block;
  margin: 15px;
  justify-content: center;
}

.large-img {
    width:75%;
    margin-left:12.5%;
}

/* Portfolio Card Grid Only*/
.thumbnail-grid {
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width:100%;
}

.thumbnail-grid:after {
  clear: both;
}

.thumbnail-grid:after, .imgbox:before {
  content: '';
  display: table;
}


/* line for UX/UI Cases */
hr {
  display: block !important;
  margin-top: 0.0em !important;
  border-width: 1px;
}
.group hr {
  color: var(black);
  background-color: var(black);
  text-align: center;
  border: none;
  height: 1px;
  width: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left:48% !important; 

}
/* end of line for UX/UI Cases*/


/* group UX/UI Case Studies */
.group h3 {
  font-family: 'Rubik';
  font-size: 28px !important;
  color: #555555;
  margin-bottom: 25px;
  text-align: center;
}

.subgroup h4 {
  margin-bottom: 16px;
  font-family: 'Rubik';
  font-size: 20px ;
  color: #555555;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.subgroup h5 {
  font-family: 'Rubik';
  font-size: 14px;
  line-height: 16px;
  color: #555555;
}

.subgroup p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 28px !important;
  margin-bottom: 28px !important;
  color: #111111;
}

.subgroup ul {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 28px;
  color: #111111;
}

img.ui {
  display: block;
  margin: 0 auto;
  width: 70%;
-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 10px 8px rgba(0,0,0,0.09); 
box-shadow: 0px 10px 13px -7px #000000, 0px 2px 10px 8px rgba(0,0,0,0.09);
border-radius: 23px;
}
/* end of ux/ui cases */


/* junk case */
/* content */
.content-junk {
  font-size: 14px !important;
  line-height: 20px !important;
  color: #111111'
}
/* title */
.title-junk {
  color: rgb(7, 224, 107) !important;
  margin-top: 12vw !important;
  font-family: 'Rubik' !important;
  font-size: 34px !important;
  padding-bottom: 12px;
  line-height: 40px !important;
}
/* subtitle */
.subtitle-junk{
  margin-top: 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: 555555 !important;
  padding-bottom: 12px;
}

/* centers junk page */
.col-centered{
  float: none;
  margin: 0 auto;
}

img.junkdesign {
  width: 2920px !important; 
  height: auto;
}